footer#page-footer.pt-5.pb-5.mt-5
  .container
    .row
      .col-12.-sb.-sb-md
        .footer-element.text-left
          p.-small-txt.-align-center FORMAS DE PAGAMENTO
            img.ml-3(src="https://explicae.com.br/blackfriday/assets/img/metodos-de-pagamento.png", alt="Métodos de Pagamento")
          p.-small-txt.mt-3
            a(href='#').-decoration-none
              b Políticas de Privacidade
        .footer-element.text-left.text-md-right
          .social-media
            ul
              li
                a(href='#') <i class="fa fa-facebook" aria-hidden="true"></i>
              li
                a(href='#') <i class="fa fa-instagram" aria-hidden="true"></i>
              li
                a(href='#') <i class="fa fa-youtube-play" aria-hidden="true"></i>
              li
                a(href='#') <i class="fa fa-twitter" aria-hidden="true"></i>
              li
                a(href='#') <i class="fa fa-linkedin" aria-hidden="true"></i>
            p.-small-txt.mt-3
              b EXPLICAÊ 2018 - TODOS OS DIREITOS RESERVADOS