section#foreground.pt-5
  header#page-header
    .container
      .row
        .col-12.-sb
          #logo
            img(src="assets/svg/logo.svg", alt="Explicaê")
          nav#menu
            ul.menu-links
              li
                a(href='#') Entrar
  #first-call
    .container
      .row
        .col-12.col-lg-8
          h1.-bigger-txt A sua jornada ENEM 2019 começa agora<span class='-yellow-txt'>!</span>
          p.-subtitle-txt.mt-3 A gente te acompanha tão de perto que nem parece cursinho online.
          p
            a.-btn.mt-3(href='#') Quero 7 dias grátis
        .col-lg-4.d-none.d-lg-block
          .hand-pen
            img(src="assets/img/hand-pen-holder.png", alt="7 dias grátis!")