extends _template.pug

block head
  title Explicaê - Jornada ENEM
  meta(name='description' content='A sua jornada ENEM 2019 começa agora!')

//- Content
block content
  include ./views/_foreground
  include ./views/_nossos_planos
  include ./views/_footer
